body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: var(--font-cyber);
}

.synth-master-panel {
    background: var(--bg-panel);
    border: 2px solid var(--purple-dark);
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.9), 0 0 35px rgba(124, 77, 255, 0.08);
}

.synth-title {
    color: var(--purple-text-light);
    letter-spacing: 2px;
    font-weight: 800;
    text-shadow: 0 0 10px rgba(197, 163, 255, 0.3);
}

.octave-selector-box, .osc-section, .modules-wrapper {
    background-color: var(--bg-module);
    border: 1px solid var(--purple-border);
}

.osc-section { 
    transition: border-color 0.3s; 
}

.osc-section.active { 
    border-color: var(--purple-primary); 
}

.filter-card { 
    background-color: #05050a; 
    border: 1px solid #16162a; 
}

.bg-black-synth { 
    background-color: var(--bg-dark-synth); 
}