:root {
    --bg-main: #040408;
    --bg-panel: #0f0f1d;
    --bg-module: #090914;
    --bg-dark-synth: #030307;
    --bg-select: #121225;
    
    --purple-primary: #7c4dff;
    --purple-light: #b388ff;
    --purple-dark: #2d1654;
    --purple-accent: #9d4edd;
    --purple-muted: #6d4fa3;
    --purple-border: #1f113a;
    --purple-text-light: #c5a3ff;
    
    --text-main: #e2e2e9;
    --font-cyber: 'Orbitron', sans-serif;
}